<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    {{>adminheaderlinks}}

</head>

<body style="background-color:rgb(38, 50, 53);">

    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start sidebar-wrapper-->
        {{>adminsidebar}}
        <!--End sidebar-wrapper-->

        <!--Start topbar header-->
        {{>adminheader}}
        <!--End topbar header-->

        <div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid">

                <!--Start Dashboard Content-->

                {{!-- <div class="d-flex justify-content-end">
                    <a href="/admin/addproduct" class="btn btn-success mb-3"
                        style="background-color: rgb(20, 72, 23);">Add
                        Product</a>
                </div> --}}

                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">Product List
                                {{!-- <div class="card-action">
                                    <div class="dropdown">
                                        <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret"
                                            data-toggle="dropdown">
                                            <i class="icon-options"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void();">Action</a>
                                            <a class="dropdown-item" href="javascript:void();">Another action</a>
                                            <a class="dropdown-item" href="javascript:void();">Something else here</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:void();">Separated link</a>
                                        </div>
                                    </div>
                                </div> --}}
                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush table-borderless">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>View</th>
                                            <th>Name</th>
                                            <th>Existing offer</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {{#each products}}
                                        <tr>
                                            <td>{{this.index}}</td>    
                                            <td><img style="height: 50px;width:50px ;"
                                                    src="/ProductImages/{{this.img.[3]}}" class="" alt="product img">
                                            </td>
                                            <td>{{this.productname}}</td>
                                            <td>

                                                <form action="/admin/productoffer" method="post">
                                               <input type="number" value="{{this.Offerpercentage}}" max="50" name="productoffer" class="mr-2" style="width:3em ;"><span>%</span>
                                               <input type="text" name="proId" value="{{this._id}}" hidden>

                                               <button type="submit" class="btn btn-primary ml-5">update</button>
                                               </form>

                                          </td>

                                        </tr>

                                        {{/each}}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Row-->

                <!--End Dashboard Content-->

                <!--start overlay-->
                <div class="overlay toggle-menu"></div>
                <!--end overlay-->

            </div>
            <!-- End container-fluid-->

        </div>
        <!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->

        <!--Start footer-->
        
        <!--End footer-->

        <!--start color switcher-->

        <!--end color switcher-->

    </div>
    <!--End wrapper-->

    {{>adminscriptlinks}}

</body>

</html>